/*
General Style Sheet
*/
body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

div {
	display: flex;
}

#home-name {
	font-size: 35px;
	line-height: 50px;
	align-self: center;
	color: #424242;
	padding-bottom: 30px;
}

.header-wrap {
	padding: 30px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1.5px solid #36454F;
}

.header-wrap {
	flex-direction: column;
}

.container {
	padding-left: 20%;
	padding-right: 20%;
}

#nav-header {
	align-self: center;

}

.directions {
	font-size: 20px;
	line-height: 30px;
	padding: 50px;
	color: #424242;
	flex-direction: row;
}

.footer-wrap {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1.5px solid #36454F;
	margin-left: 20%;
	margin-right: 20%;
}

.footer-wrap {
	flex-direction: row;
	justify-content: center;
}


#cover-photo {
	width: 90%;
	height: 90%;
	position: relative;
	padding: 20px;
	padding-bottom: 15px;
	left: 2%; 
}

.footer-icon img{
	width: 35px;
	height: 35px;
}

.footer-icon {
	padding-left: 15px;
	padding-right: 15px;
}

/*
Bio and Resume Styling
*/
.bio-text {
	display: inline-block;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 16px;
	color: black;
}

.resume-text {
	display: inline-block;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 16px;
	color: black;
}

.resume-section {
	font-size: 20px;
	color: #6699CC;
}

.resume-item {
	font-size: 18px;
}


.section-header {
	margin-left: 20%;
	margin-right: 20%;
	color: #424242;
}






